* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
  margin: 0 auto;ir 
}
body {
  background-image: url(spongebob-sky.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#main-content {
  margin-left: 70%;
  padding: right 30%;
  border: 2px rgb(59, 174, 212) solid;
  border-radius: 15px;
  list-style: none;
  font-size: 15px;
  text-transform: uppercase;
  background-color: yellowgreen;
}
.pages-nav-bars {
  width: 40vw;
  text-decoration: none;
  position: fixed;
  float: left;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  top: 0;
  background-color: seagreen;
  list-style: none;
}
.pages-nav-bars ul {
  border: black solid 0.7px;
  background-color: teal;
  margin: 0 auto;
}
.main-charcetrs {
}
.main-pictures {
  border: yellowgreen solid 0.5px;
  margin-right: auto; 
  margin-left: auto;
  display: block;
}
#charcetrs-info blockquote {
  text-align: center;
}
#charcetrs-info p {
  border: yellowgreen 1px;
}
.headlines {
  text-align: center;
}
#tribute {
  position: relative;
  bottom: 10px;
}
.main-pargraph{
  text-align: justify;
}
.products{
  
  margin: 20%;
  padding-bottom: 10px;
}